li {
  display: inline;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: ". . ." ". guessbox ." ". . .";
}

.guessbox { grid-area: guessbox; }